{% extends 'base.html' %}
{% load static %}
{% block content %}

   <div class ="container text-center">
       <div class="row">
           <div class="col-8">

<br/>

  <div class="alert alert-dark" role="alert">
    <div class="container">
      <div class="row">
        <div class="col-1">
          {% if cipher.user.profile.profile_image %}
            <img src="{{ cipher.user.profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ cipher.user.username }}">
          {% else %}
            <img src="{% static 'images/default_pic.jpg' %}" width=50 height=50 class="rounded-circle" alt="{{ cipher.user.username }}">
          {% endif %}
        </div>
        <div class="col-11">
        {{ cipher.body }}<br/>
    <small class = "text-muted">
        {{ cipher.created_at}} By
        @{{ cipher.user.username}}
        &nbsp;&nbsp;
        {{cipher.number_of_likes}}  

        {% if user in cipher.likes.all %}
        <a href ="{%url 'cipher_like' cipher.id %}">

          <i class="fa-solid fa-heart" style="color: red"></i>
        </a>

        {% else %}
        <a href ="{%url 'cipher_like' cipher.id %}">
          <i class="fa fa-heart-o" style="color: red"></i>

        </a>
      {% endif %}
      

    </small>
</div><br/>
      </div>
    </div>
  </div>

           
  <br/><br/><br/>

{% if form %}
<form method =POST>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-secondary" style = "background-color: #6E2CF3; color: #ffffff;">Edit Whisper!</button>
</form>
{% endif %}

{% endblock %}
